@model Ride_Sharing_Project_isdb_bisew.Models.ViewModel.DriverVm

<div class="container mt-5">
    <h4 class="text-center fs-1 mt-5 pt-5 pb-4">Driver Information</h4>
   
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="DriverName" class="form-label"></label>
                        <input asp-for="DriverName" class="form-control" />
                        <span asp-validation-for="DriverName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="NID_Number" class="form-label"></label>
                        <input asp-for="NID_Number" class="form-control" />
                        <span asp-validation-for="NID_Number" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="DrivingLicense" class="form-label"></label>
                        <input asp-for="DrivingLicense" class="form-control" />
                        <span asp-validation-for="DrivingLicense" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="PictureFile" class="form-label"></label>
                        <input asp-for="PictureFile" class="form-control" />
                        <span asp-validation-for="PictureFile" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Lat" class="form-label"></label>
                        <input asp-for="Lat" class="form-control" />
                        <span asp-validation-for="Lat" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Lon" class="form-label"></label>
                        <input asp-for="Lon" class="form-control" />
                        <span asp-validation-for="Lon" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="CreateBy" class="form-label"></label>
                        <input asp-for="CreateBy" class="form-control" />
                        <span asp-validation-for="CreateBy" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="CreateDate" class="form-label"></label>
                        <input asp-for="CreateDate" type="date" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="UpdateBy" class="form-label"></label>
                        <input asp-for="UpdateBy" class="form-control" />
                        <span asp-validation-for="UpdateBy" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="UpdateDate" class="form-label"></label>
                        <input asp-for="UpdateDate" type="date" class="form-control" />
                        <span asp-validation-for="UpdateDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 d-flex align-items-center mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="IsActive" />
                            <label asp-for="IsActive" class="form-check-label ms-2"></label>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
