@model Ride_Sharing_Project_isdb_bisew.Models.ViewModel.EmployeeVm

@{
    ViewData["Title"] = "Create Employee";
}

<div class="container mt-5">
    <h2 class="text-center fs-1 mb-4">Create Employee</h2>
    <form asp-action="Create" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="row">
            <!-- Employee Name -->
            <div class="mb-3 col-lg-6 col-12">
                <label asp-for="EmployeeName" class="form-label fw-bold">Employee Name</label>
                <input asp-for="EmployeeName" class="form-control" placeholder="Enter employee name" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>

            <!-- Employee Email -->
            <div class="mb-3 col-lg-6 col-12">
                <label asp-for="EmployeeEMail" class="form-label fw-bold">Employee Email</label>
                <input asp-for="EmployeeEMail" class="form-control" placeholder="Enter employee email" />
                <span asp-validation-for="EmployeeEMail" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <!-- Is Live -->
            <div class="mb-3 col-lg-6 col-12">
                <div class="form-check mt-4">
                    <input asp-for="IsLive" class="form-check-input " />
                    <label asp-for="IsLive" class="form-check-label fw-bold">Is Live</label>
                </div>
            </div>

            <!-- Created By -->
            <div class="mb-3 col-lg-6 col-12">
                <label asp-for="CreateBy" class="form-label fw-bold">Created By</label>
                <input asp-for="CreateBy" class="form-control" placeholder="Enter creator name" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <!-- Create Date -->
            <div class="mb-3 col-lg-6 col-12">
                <label asp-for="CreateDate" class="form-label fw-bold">Create Date</label>
                <input asp-for="CreateDate" type="date" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>

            <!-- Updated By -->
            <div class="mb-3 col-lg-6 col-12">
                <label asp-for="UpdateBy" class="form-label fw-bold">Updated By</label>
                <input asp-for="UpdateBy" class="form-control" placeholder="Enter updater name" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <!-- Update Date -->
            <div class="mb-3 col-lg-6 col-12">
                <label asp-for="UpdateDate" class="form-label fw-bold">Update Date</label>
                <input asp-for="UpdateDate" type="date" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>

            <!-- Is Active -->
            <div class="col-lg-6 col-12 mt-4">
                <div class="form-check">
                    <input asp-for="IsActive" class="form-check-input" />
                    <label asp-for="IsActive" class="form-check-label fw-bold">Is Active</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 
